.container{
  background-color: rgb(191, 191, 191);
  font-size: 13px;
  padding: 10px;
  width: 730px;


}
label {
  font-weight: normal !important;
}
select{
  width:147px;
}
fieldset{
  padding: 8px;
  
border:1px solid;
}
label {
  float: left;
}
label { color: black; font-weight: bold; display: block; width: 150px; float: left; }
.d2{
  float:left;
}
.d1{
  float:right;}
  label {
      display: inline-block;
      width: 150px;
      text-align: left;
    }



.selectedbanner{
  background-color: #bfbfbf;
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color: white;
  overflow: auto;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.container-fluid {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: #bfbfbf;
}
.container-fluid1{
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  background: #bfbfbf;
}
.container-fluid2{
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  background: #eee;
}
.topnav .search-container {
  float: right;}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
}
.btn2 {
  border: 0px solid black;
  padding: 1x 1px;
  color: white;
  background:blue;
  border-radius: 50%;
}
h1{
  font-size: 28px;
}
p {
  font-size: 20px;
}
h6 {
  font-size: 22px;
}
h5 {
  font-size: 26px;
}
.container-fluid {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background: #bfbfbf;
}
.container-fluid1{
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  background: #bfbfbf;
}
.container-fluid2{
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  background: #eee;
}
.topnav .search-container {
  float: right;}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
}
.btn2 {
  border: 0px solid black;
  padding: 1x 1px;
  color: white;
  background:blue;
  border-radius: 50%;
}
.legend{
  font-size: 38px;
  font-weight: bold;
  
}