<style> img { max-width: 100%; } </style>
<div class="container">


  <fieldset style="width:800px;" >

                    <legend>Menu</legend>
                    <div style="display: flex; justify-content:space-between">
                      <div><select name="forma" style="width:190px; height: auto;" onchange="location = this.value;"> 
                        <option value="">Suppliers</option>
                        </select> 
                        <select name="forma" style="width:190px; height: auto;" onchange="location = this.value;"> 
                        <option value="/">Company Staff Module</option> 
                        <option value="/banner">Banner Rotator Module</option> 
                       </select></div>
                        <div><output>Current User: Tabish Sarfraz | </output> <a href="url">Main Menu</a></div>
                    </div>

</fieldset>



<fieldset style="width:800px;">
    <form [formGroup]="form" (ngSubmit)="submit()"><br>
                                <fieldset style="width:780px;">
                                    <legend>Web Account</legend>
                                <div class="p1">

                                      <div class="form-group">
                                        <label for="email">E-Mail:</label>      <input formControlName="email"
                                        id="email"
                                        type="text"
                                        [(ngModel)]="staff.email"
                                        class="form-control" required />
                                    </div>
                                  <br>
                                        <label for="password">Password:</label>      <output>[Password Encrypted]</output><br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="url">Reset password</a><br>
                                        <label for="accountID">Account ID:</label>      xxx<br>
                                        <label for="lms">LMS User ID:</label>      xxxxxxx<br>
                                        <label for="login">Login:</label>     <a href="url">Login as User</a><br>


                                </div>
                            </fieldset >

                            <legend>Company Staff Acount</legend>

                                <div class="p2">

                                    <fieldset style="width:780px;">
                                        <legend>Company Details</legend>
                                        <div class="form-group">
                                        <label for="supplier">Assigned To Supplier:</label><input formControlName="supplier"
                                        id="supplier"
                                        type="text"
                                        [(ngModel)]="staff.supplier"
                                        class="form-control" required>

                                          </div>
                                          <div class="form-group">
                                          <label for="company">Works For Company</label><input formControlName="company"
                                          id="company"
                                          [(ngModel)]="staff.company"
                                          type="text"

                                          class="form-control" required>
                                            </div>
                                </fieldset>
                                </div>
                                <fieldset style="width:780px;">
                                    <legend>Details</legend>
                                <div class="p3">

                                    <div class="f3">
                                      <div class="form-group">
                                        <label for="title">Title:                   </label><select  [(ngModel)]="staff.title" formControlName="title" id="title" >
                                          <option value="">---Please Select---</option>
                                          <option [value]=a.title *ngFor="let a of title">{{a.title}}</option>
                                          </select><br>
                                          </div>
                                          <div class="form-group">
                                        <label for="firstName">First Name:         </label><input formControlName="firstName"
                                        id="firstName"
                                        type="text"
                                        [(ngModel)]="staff.firstName"
                                        class="form-control" required><Br>
                                          </div>
                                          <div class="form-group">
                                        <label for="lastName">Last Name:           </label><input formControlName="lastName"
                                        id="lastName"
                                        type="text"
                                        [(ngModel)]="staff.lastName"
                                        class="form-control" required><br>
                                        </div>
                                        <div class="form-group">
                                        <label for="age">Age:                       </label><select [(ngModel)]="staff.age" formControlName="age" id="age" >
                                          <option value="">---Please Select---</option>
                                          <option [value]=a.age_range *ngFor="let a of age">{{a.age_range}}</option>
                                          </select>
                                          </div>
                                          <div class="form-group">
                                        <label for="position">Position:             </label><input formControlName="accountType"
                                        id="accountType"
                                        type="text"
                                        [(ngModel)]="staff.accountType"
                                        class="form-control" required><br>
                                        </div>
                                        <div class="form-group">
                                        <label for="country">Country:               </label><input formControlName="country"
                                        id="country"
                                        type="text"
                                        [(ngModel)]="staff.country"
                                        class="form-control" required>
                                          </div>
                                          <div class="form-group">
                                        <label for="state">State/Region      </label><input formControlName="state"
                                        id="state"
                                        type="text"
                                        [(ngModel)]="staff.state"
                                        class="form-control" required><br>
                                        </div>
                                    </div>
                                </div>
                              </fieldset>
                              <fieldset style="width:780px;">
                                <legend>Admin Access</legend>
                                <div class="form-group">
                                <label for="acl">Access Level:</label><select [(ngModel)]="staff.acl" formControlName="acl" id="acl" >
                                  <option value="">---Please Select---</option>
                                  <option [value]=a.a_levels *ngFor="let a of access">{{a.a_levels}}</option>
                                  </select><br>
                                  </div>
                              </fieldset>
                            <div class="x">
                              <br><button class="x" type="submit" onClick="return empty()"  >Update</button><button href="#" routerLink="/" class="x">Cancel</button></div>

                            </form>
  </fieldset>

</div>
