<style> img { max-width: 100%; } </style>
<div class="container">


  <fieldset style="width:800px;">
    <form [formGroup]="form" (ngSubmit)="submit()"><br>
      <h4>Create Tblslideshow Rotator</h4>

      <div class="x"><a href="#" routerLink="/banner" class="btn btn-primary">Back</a></div><br>
      <div class="p2">
      </div>
      <fieldset style="width:780px;">
        <div class="p3">

          <div class="f3">
            <div class="form-group">
              <label for="name">Name:                   </label><input formControlName="name"
                                                                       id="name"
                                                                       type="text"
                                                                       class="form-control" required>
            </div>
            <div class="form-group">
              <label for="active">Active:         </label><input formControlName="active"
                                                                 id="active"
                                                                 type="text"
                                                                 class="form-control" required><Br>
            </div>
            <div class="form-group">
              <label for="startDate">Start Date:           </label><input formControlName="startDate"
                                                                          id="startDate"
                                                                          type="date"
                                                                          class="form-control" required><br>
            </div>
            <div class="form-group">
              <label for="endDate">End Date:                       </label><input formControlName="endDate"
                                                                                  id="endDate"
                                                                                  type="date"
                                                                                  class="form-control" required>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="x"><br><button class="btn btn-primary" type="submit"  >Create</button></div>

    </form>
  </fieldset>

</div>
